.zone-1-table .table-list .cell-style {
    padding: "4px";
    line-height: 1.2;
    font-size: 11px;
}

.zone-1-search .zone-1-form-submit-style,
.zone-1-table-actions .zone-1-form-submit-style {
    padding: 7px;
    line-height: 1.2;
    font-size: 13px;
    background-color: #0075be !important;
}

.hindi-zone-new {
    padding: 7px !important;
    line-height: 1.2 !important;
    font-size: 13px !important;
}

.zone-1-action-link-style {
    color: "#3bbdf5";
    text-decoration: underline;
    cursor: pointer;
}

.zone-1-table .zone-1-header-cell-style {
    padding: 4px;
    line-height: 1.2;
    font-size: 11px;
    color: #ffffff !important;
    background-color: #0075be !important;
}