.inward-register-table .table-list .cell-style {
    padding: "4px";
    line-height: 1.2;
    font-size: 11px;
}

.inward-register-search .inward-register-form-submit-style,
.inward-register-table-actions .inward-register-form-submit-style {
    padding: 7px;
    line-height: 1.2;
    font-size: 13px;
    background-color: #0075be !important;
}

.inward-register-new {
    padding: 7px !important;
    line-height: 1.2 !important;
    font-size: 13px !important;
}

.container-border-style {
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.inward-register-action-link-style {
    color: "#3bbdf5";
    text-decoration: underline;
    cursor: pointer;
}

.inward-register-table .inward-register-header-cell-style {
    padding: 4px;
    line-height: 1.2;
    font-size: 11px;
    color: #ffffff !important;
    background-color: #0075be !important;
}